<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Chika's Wishlist Program</h1>
<p>I have {{type_item}} type(s) of item(s) and {{num_item}} total item(s) in my list and the total is ${{total}}.</p>
<p><a href="view">View my list</a></p>
<form id="form1" name="form1" method="post" action="">
  <table width="95%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">Add an intem to my wishlist</td>
    </tr>
    <tr>
      <td width="11%">&nbsp;</td>
      <td width="89%">&nbsp;</td>
    </tr>
    <tr>
      <td>Item:</td>
      <td><label for="item"></label>
      <input type="text" name="item" id="item" /></td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td><label for="quantity"></label>
      <input type="text" name="quantity" id="quantity" /></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><label for="price"></label>
      <input type="text" name="price" id="price" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="submit" id="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
