<html>
  <head>
    <title>Check out my list</title>
  </head>
  <body>
    <h1>Chika's Wishlist Program</h1>
    <h2>View my list</h2>
    <p><a href="/">Back Home</a></p>
    <table width="95%" border="2" cellspacing="0" cellpadding="10">
      <tr>
        <th>Name</th><th>Quantity</th><th>Price</th><th>Options</th>
      </tr>

      {% for item in items %}
      <tr>
        <td>{{item['name']}}</td>
        <td>{{item['quantity']}}</td>
        <td>{{item['price']}}</td>
        <td><a href="edit.html">Edit item</a> | <a href="#">Remove item</a></td>
      </tr>
      {% endfor %}

      </tr>
    </table>
 </body>
</html>
